$fonts-path: '../assets/fonts';

@font-face {
  font-family: 'Montserrat-Light';
  src:
    url('../assets/fonts/montserrat/Montserrat-Light.woff') format('woff'),
    url('../assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src:
    url('../assets/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src:
    url('../assets/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('../assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:
    url('../assets/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
}
